header {
    text-align: center;
    background-color: rgb(140, 0, 255);
    padding: 30px;
}
h1  {
    font-size: 30px;
    font-weight: bold;
}
main {
    background-color: bisque;
    text-align: center;
    padding: 30px;
}
h2{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;

}
a{
    text-decoration: none;
    text-transform: uppercase;
}
li{
    margin: 10px auto;
    padding: 10px;
    background-color: black;
    width: 30%;
    border-radius: 10px;

}
li:hover{
    width: 33px;
    background-color: blue;
}
footer{ 
    background-color: skyblue;
    text-align: center;
    padding: 20px;
}
